<!DOCTYPE html>
<html>
<head>
    <title>Alexandre Bergia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Add the favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Add the styles -->
    <link rel="stylesheet" href="styles/resume.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/overlay.css">
    <link rel="stylesheet" href="styles/components/progress.css">
    <link rel="stylesheet" href="styles/components/button.css">
    <!-- Import the external libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js-external/jquery-dateFormat.min.js"></script>
    <script src="js-external/underscore.min.js"></script>

    <!-- Import the custom libraries -->
    <script src="js/queryString.js"></script>
    <script src="js/queryStringResume.js"></script>

    <!-- Import the Resume libraries -->
    <script src="js/overlay.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/selector.js"></script>
    <script src="js/resume.js"></script>
    <script src="js/menu.js"></script>
    <meta charset="utf-8"/>
</head>
<body onload="initResume()"">
<script type="text/javascript">
    var resume, urlParameters, menu, filter = {};

    /**
     * Initialize the Resume on the page
     */
    function initResume() {
        // Get the url parameters first
        urlParameters = new QueryStringResume();
        filter        = new Filter(urlParameters.getAll());
        var selector  = new Selector();
        var overlay   = new Overlay(selector);

        menu          = new Menu(urlParameters, selector, overlay);
        resume        = new Resume_v3(filter, selector, overlay);
        resume.loadResume();

        window.onhashchange = hashChangeHandler;
    };

    /**
     * Handler for the Hash Change event
     */
    function hashChangeHandler() {
        urlParameters.retrieve();
        filter.setConfig(urlParameters.getAll());
        menu.urlParametersChangeEventHandler();
        resume.writeResumeOnPage();
    };
</script>

<div>
    <!-- Templates for the Menu -->
    <script type="text/html" id="app--menu-controlsTemplateContainer">
        <div class="menu--content-container">
            <span class="text--style-title">
                You are starting in <span class="app--menu-yearDisplay">2003</span> (past <span class="app--menu-yearsBackDisplay">15</span> years)
            </span>
            <div class="menu--progress-year">
                <div class="component--button-shell app--menu-yearReset">Reset</div>
                <div class="component--button-shell app--menu-yearMinus">-</div>
                <div class="component--progress-bar">
                    <div class="component--progress-loaded app--menu-percentVisible"></div>
                </div>
                <div class="component--button-shell app--menu-yearPlus">+</div>
        </div>
    </script>

    <!-- Template for the headline and the address -->
    <script type="text/html" id="app--headline-entryTemplate">
        <div class="div-style--headline">
            <!-- <img class="img--size-profile img--style-textinline" src="img/profile.jpg"> -->
            <h4><%= headline %></h4>
        </div>
    </script>

    <!-- Templates for the experiences -->
    <script type="text/html" id="app--experience-titleTemplate">
        <h3 class="text--style-title"><%= title %></h3>
    </script>
    <script type="text/html" id="app--experience-entryTemplate">
        <h4 class="text--style-date">
            <span><%= startDate %></span> — <span><%= endDate %></span>
        </h4>
        <span class="text--highlight-high"><%= position %></span>
        <span class="text--separator-berore"><%= companyName %></span>
        <span class="text--highlight-low text--separator-berore"><%= location %></span>
        <span class="text--display-oneLine"><%= description %></span>
    </script>

    <!-- Templates for the languages -->
    <script type="text/html" id="app--languages-titleTemplate">
        <h3 class="text--style-title"><%= title %></h3>
    </script>
    <script type="text/html" id="app--languages-entryTemplate">
        <div>
            <span class="text--highlight-high"><%= name %></span>
            <span class="text--separator-berore"><%= level %></span>
        </div>
    </script>

    <!-- Templates for the references -->
    <script type="text/html" id="app--references-titleTemplate">
        <h3 class="text--style-title"><%= title %></h3>
    </script>
    <script type="text/html" id="app--references-entryTemplate">
        <div>
            <span><%= responsible %></span>
            <% if (typeof companyName !== 'undefined') { %>
                <span class="text--highlight-high text--separator-berore"><%= companyName %></span>
            <% } %>
            <% if (typeof phone !== 'undefined') { %>
                <span class="text--separator-berore"><%= phone %></span>
            <% } %>
            <% if (typeof email !== 'undefined') { %>
                <span class="text--separator-berore"><%= email %></span>
            <% } %>
        </div>
    </script>

    <!-- Template for the contact -->
    <script type="text/html" id="app--contact-titleTemplate">
        <h3 class="text--style-title"><%= title %></h3>
    </script>
    <script type="text/html" id="app--contact-entryTemplate">
        <div class="div--content-contact">
            <ul class="list--style-contact">
                <li>
                    <img src="img/icon-phone.svg" class="img--style-contactIcon img--style-textinline">
                    <span><%= mobilePhone %></span>
                </li>
                <li>
                    <img src="img/icon-envelope.svg" class="img--style-contactIcon img--style-textinline">
                    <span><a href="mailto:<%= email %>"></a><%= email %></span>
                </li>
            </ul>
        </div>
    </script>

    <!-- Templates for the trainings -->
    <script type="text/html" id="app--trainings-titleTemplate">
        <h3 class="text--style-title"><%= title %></h3>
    </script>
    <script type="text/html" id="app--trainings-entryTemplate">
        <div>
            <h4 class="text--style-date text--display-oneLine">
                <span><%= startDate %></span>
                <% if (typeof endDate !== 'undefined') { %>
                    <span class="text--separator-berore"><%= endDate %></span>
                <% } %>
            </h4>
            <div class="div--date-content">
                <% if (typeof name !== 'undefined') { %>
                    <span class="text--highlight-high"><%= name %></span>
                <% } %>
                <% if (typeof description !== 'undefined') { %>
                    <span class="text--highlight-low"><%= description %></span>
                <% } %>
                <% if (typeof location !== 'undefined') { %>
                    <span class="text--highlight-low"><%= location %></span>
                <% } %>
            </div>
        </div>
    </script>

    <!-- Templates for the organizations -->
    <script type="text/html" id="app--organizations-titleTemplate">
        <h3 class="text--style-title"><%= title %></h3>
    </script>
    <script type="text/html" id="app--organizations-entryTemplate">
        <div>
            <h4 class="text--style-date">
                <span><%= startDate %></span>
                <span class="text--separator-berore"><%= endDate %></span>
            </h4>
            <span class="text--highlight-high"><%= position %></span>
            <span class="text--separator-berore"><%= name %></span>
            <span class="text--highlight-low"><%= description %></span>
        </div>
    </script>

    <!-- Templates for the rewards -->
    <script type="text/html" id="app--rewards-titleTemplate">
        <h3 class="text--style-title"><%= title %></h3>
    </script>
    <script type="text/html" id="app--rewards-entryTemplate">
        <div>
            <h4 class="text--style-date">
                <span><%= startDate %></span>
            </h4>
            <span class="text--highlight-high"><%= name %></span>
            <span class="text--separator-berore"><%= companyName %></span>
        </div>
    </script>
</div>

<div class="div--main-page app--main-page">
    <div class="menu--main-container app--menu-container">
        <div class="menu--controls-container app--menu-controlsContainer"></div>
        <div class="menu--handle-container app--menu-handleContainer">
            <div class="menu--handle-bar menu--bar1-style"></div>
            <div class="menu--handle-bar menu--bar2-style"></div>
            <div class="menu--handle-bar menu--bar3-style"></div>
        </div>
    </div>

    <div class="div--resume-content">
        <div id="app--overlay-container" class="overlay--style-container overlay--style-applied overlay--style-loading">
            <div class="overlay--style-loadingIcon"></div>
        </div>

        <div class="div-style-header">
            <h1 class="text--style-title text--margin-title">Alexandre Bergia</h1>
        </div>


        <div class="app--headline-entryContainer"></div>

        <div>
            <div class="div--column-one">
                <div class="app--experience-titleContainer"></div>
                <div class="app--experience-entryContainer"></div>

                <div>
                    <div class="app--knowledge-titleContainer"></div>
                    <div class="app--knowledge-entryContainer"></div>
                </div>

                <div>
                    <div class="text--style-title app--references-titleContainer div--style-inline"></div>
                    <div class="app--references-entryContainer div--style-inline"></div>
                </div>
            </div>


            <div class="div--column-two">
                <div>
                    <div class="app--contact-titleContainer"></div>
                    <div class="app--contact-entryContainer"></div>
                </div>
                <div>
                    <div class="app--trainings-titleContainer"></div>
                    <div class="app--trainings-entryContainer"></div>
                </div>

                <div>
                    <div class="app--organizations-titleContainer"></div>
                    <div class="app--organizations-entryContainer"></div>
                </div>

                <div>
                    <div class="app--languages-titleContainer"></div>
                    <div class="app--languages-entryContainer"></div>
                </div>

                <div>
                    <div class="app--rewards-titleContainer"></div>
                    <div class="app--rewards-entryContainer"></div>
                </div>

                <div class="text--align-center">
                    <img class="img--size-qr" src="img/linkedin.png">
                </div>
            </div>

            <div class="div--line-force"></div>
        </div>

        <div class="div-style-footer page--background-blue">
            <div class="div--align-noWrap">
                <a href="http://www.linkedin.com/in/abergia" target="_blank">
                    <img src="img/LinkedIn-Logo.png" class="img--size-connectIcon">
                    <span class="link--linkedin-url">www.linkedin.com/in/abergia</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
