body {
    background: #000;
    font-family: "Arial";
}

/* Main styling for the page */
.div--main-page {
    max-width: 800px;
    background: #f3f3f3;
    margin: 30px auto;
}
.div-style-header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
}
.div--style-contact {
    float: right;
    width:26%;
    padding: 1%;
}
.div--style-profile {
    float: left;
    width: 70%;
    padding: 1%;
}
.div-style-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}
.div--column-one {
    float: left;
    width: 70%;
    padding: 1%;
}
.div--column-two {
    float: right;
    width:26%;
    padding: 1%;
}
.div--align-noWrap {
    white-space: nowrap;
}
.div--line-force {
    clear: both;
}


/* Text styling */
p {
    margin: 0px;
    padding: 0px;
    display: inline;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}
h4 {
    margin-top: 6px;
    margin-bottom: 0px;
}
.text--style-title {
    color: #ff794d;
}
.text--style-date {
    color: rgb(27, 61, 132);
}
.text--display-oneLine {
    display: block;
}
.text--align-profile {
    display: inline-block;
    white-space: normal;
    padding-right: 85px;
}
.text--align-center {
    text-align: center;
}


.text--highlight-high {
    font-weight: bold;
}
.text--highlight-low {
    font-style: italic;
}
.text--separator-berore:before{
    content: " — ";
}

/* Images */
.img--size-profile {
    border: 5px solid #f3f3f3;
    max-height: 80px;
    margin-right: 10px;
    float: left;
}
.img--size-qr {
    margin-top: 20px;
    max-height: 80px;
}
.img--size-connectIcon {
    max-height: 15px;
    margin-right: 5px;
    float: left;
}

/* Coloring */
.page--gradient-blueRight {
    background: #f3f3f3;
    background: -moz-linear-gradient(left, #f3f3f3 0%, #4978bd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #f3f3f3), color-stop(100%, #4978bd));
    background: -webkit-linear-gradient(left, #f3f3f3 0%, #4978bd 100%);
    background: -o-linear-gradient(left, #f3f3f3 0%, #4978bd 100%);
    background: -ms-linear-gradient(left, #f3f3f3 0%, #4978bd 100%);
    background: linear-gradient(to right, #f3f3f3 0%, #4978bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#4978bd', GradientType=1);
}
.page--gradient-blueLeft {
    background: #4978bd;
    background: -moz-linear-gradient(left, #4978bd 0%, #f3f3f3 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #4978bd), color-stop(100%, #f3f3f3));
    background: -webkit-linear-gradient(left, #4978bd 0%, #f3f3f3 100%);
    background: -o-linear-gradient(left, #4978bd 0%, #f3f3f3 100%);
    background: -ms-linear-gradient(left, #4978bd 0%, #f3f3f3 100%);
    background: linear-gradient(to right, #4978bd 0%, #f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4977bd', endColorstr='#f3f3f3', GradientType=1 );
}
.page--background-blue {
    background: #4978bd;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

/* Styling for the mobile version */
@media screen and (max-width: 601px) {
    body {
        background: #000;
        font-family: "Arial";
    }

    /*Remove the gradients*/
    .page--gradient-blueRight, .page--gradient-blueLeft {
        background: #f3f3f3;
    }

    /*Update the main page layout*/
    .div--main-page {
        margin: 10px auto;
        min-width: 280px;
    }
    .div--column-two, .div--column-one {
        float: none;
        width: auto;
    }
    .div--content-contact, .div--content-profile {
        text-align: center;
    }
    .div--content-profile {
        background: #4978bd;
    }
    .div-style-header, .div-style-footer {
        padding: 15px;
        text-align: center;
    }

    /*Update the titles and dates*/
    .text--style-name {
        font-size: 250%;
    }
    .text--style-title {
        text-align: center;
        font-size: 200%;
        margin-top: 20px;
    }
    .text--style-date {
        font-size: 130%;
    }

    /*Update the profile*/
    .text--align-profile {
        display: block;
        white-space: normal;
        padding: 20px;
    }
    .img--size-profile, .img--size-qr {
        display: none;
    }

    /*Update the footer*/
    .link--linkedin-url {
        display: none;
    }
    .img--size-connectIcon {
        max-height: 50px;
        float: none;
    }
}


/* Styling for the printed version */
@media print {
    body {
        font-size: 80%;
        background: #fff;
    }

    .div--main-page {
        margin: 0px;
        background: #fff;
    }
}
