body {
    background: #000;
    font-family: "Arial";
}
/* Main styling for the page */
.div--resume-content {
    max-width: 800px;
    background: #f3f3f3;
    margin: 30px auto;
}
.div-style-header {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    border-color: #4978bd;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}
.div--style-contact {
    float: right;
    width:26%;
    padding: 1%;
}
.div--style-inline {
    display: inline-block;
}
.div--style-profile {
    float: left;
    width: 70%;
    padding: 1%;
}
.div-style-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    border-color: #4978bd;
    border-top-style: solid;
    border-top-width: 3px;
}
.div-style--headline {
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #4978bd;
    border-bottom-width: 7px;
    border-bottom-style: solid;
}
.div--column-one {
    float: right;
    width: 70%;
    padding: 1%;
}
.div--column-two {
    float: left;
    width:26%;
    padding: 1%;
}
.div--align-noWrap {
    white-space: nowrap;
}
.div--line-force {
    clear: both;
}

/* List styling */
ul.list--style-contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Text styling */
p {
    margin: 0px;
    padding: 0px;
    display: inline;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}
h4 {
    margin-top: 6px;
    margin-bottom: 0px;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
.text--style-title {
    color: #ff794d;
}
.text--style-date {
    color: rgb(27, 61, 132);
}
.text--display-oneLine {
    display: block;
}
.text--align-center {
    text-align: center;
}

.text--highlight-high {
    font-weight: bold;
}
.text--highlight-low {
    font-style: italic;
}
.text--separator-berore:before{
    content: " — ";
}

/* Images */
.img--size-profile {
    border: 5px solid #f3f3f3;
    max-height: 80px;
    margin-right: 10px;
}
.img--style-textinline {
    float: left;
}
.img--style-contactIcon {
    max-width: 15px;
    margin-right: 5px;
}
.img--size-qr {
    margin-top: 20px;
    max-height: 80px;
}
.img--size-connectIcon {
    max-height: 15px;
    margin-right: 5px;
    float: left;
}

/* Disabling */
.element--display-disabled {
    pointer-events: none;
    opacity: 0.4;
}

/* Coloring */
.page--background-blue {
    background: #4978bd;
}

/* Styling for the mobile version */
@media screen and (max-width: 601px) {
    h1 {
        font-size: 220%;
    }
    h3 {
        font-size: 200%;
        padding-top: 50px;
    }
    h3:first-child {
        padding-top: 5px;
    }

    body {
        background: #000;
        font-family: "Arial";
    }

    /* Update the main page layout */
    .div--main-page {
        margin: 10px auto;
        min-width: 280px;
    }
    .div--column-two, .div--column-one {
        float: none;
        width: auto;
    }
    .div--content-contact {
        text-align: center;
    }
    .div-style-header, .div-style-footer {
        padding: 15px;
        text-align: center;
        border-color:
    }

    /* Update the titles and dates */
    .text--style-name {
        font-size: 250%;
    }
    .text--style-title {
        text-align: center;
        margin-top: 20px;
    }
    .text--style-date {
        font-size: 130%;
    }

    /* Update the contact */
    ul.list--style-contact img.img--style-contactIcon {
        max-width: 20px;
    }
    ul.list--style-contact span {
        font-size: 110%;
    }

    .img--size-profile, .img--size-qr {
        display: none;
    }

    /* Update the footer */
    .link--linkedin-url {
        display: none;
    }
    .img--size-connectIcon {
        max-height: 50px;
        float: none;
    }
}


/* Styling for the printed version */
@media print {
    body {
        font-size: 80%;
        background: #fff;
    }

    .div--main-page {
        margin: 0px;
        background: #fff;
    }
}
